{% extends 'layout.html' %} {% block title %} {{title}} {% endblock %} 
{% block content%}
<nav class="navbar navbar-light bg-light">
  <img src="/static/img/wing_pen.svg" height="100" alt="" loading="lazy" />
  <h4 class="ml-2">__iwritesometimes__</h4>
  <div class="container col-7">
    <blockquote class="blockquote mt-3">
      <h4>Hiya and Welcome to the Login Page!</h4>
      
    </blockquote>
  </div>
</nav>
<form method="POST"  name='nm' style="width:340px;margin:auto;">
  {{form.hidden_tag()}}
  <!--This is an really important part to do this-->
               <div class="form-group mt-4">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

  <div class="form-group">{{form.submit(class="btn btn-outline-info")}}</div>
  <div>
    <br />
    <small>
      Already have an account? <a href="{{url_for('login')}}">Log in </a>
    </small>
  </div>
</form>
{% endblock %}
